@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat&family=Noto+Sans+SC&family=Nunito&family=Open+Sans&family=Poppins&family=Roboto+Mono&family=Source+Sans+Pro&display=swap');




@mixin respond($breakpoint) {
    @if $breakpoint == medium {
        @media(max-width: 900px) { @content ; }
    }

    @else if $breakpoint == small {
        @media (max-width: 480px) { @content ; }
    }
}

// mixin is like a function that take an arguments and values
// but instead of returning the value it sets it to the css property giving to it
@mixin font-size($size) {
    font-size: $size;
}


// background-color mixin

@mixin background-color($color) {
    background-color: $color;
}

// background-color and border radius mixin

@mixin background-color-border-radius($color, $radius) {
    background-color: $color;
    border-radius: $radius;
}

// element with same with and height
@mixin same-width-height($value) {
    width: $value;
    height: $value;
}

// display flex extend
%flex-display {
    display: flex;
    align-items: center;
}

$flex-space-between: space-between;
$color-white: #ffffff;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
  font-size: 30px;
  font-family: 'Fira Code', monospace;

  @include respond(small) {
    font-size: 20px;
  }
}

.container {
    width: 80%;
    margin: 0 auto;
}

body {

    

    font-family: 'Fira Code', monospace;
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Roboto Mono', monospace; 
    // font-family: 'Montserrat', sans-serif; 
    // font-family: 'Noto Sans SC', sans-serif; 
    // font-family: 'Nunito', sans-serif; 
    // font-family: 'Open Sans', sans-serif; 
    // font-family: 'Source Sans Pro', sans-serif;
    color: #2d2d2d;
    font-weight: 400;



    // Desktop display
    
    .header-container {
        background: #6246e4;
        color: $color-white;
        background-image: url("../images/sideimage.svg");
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;

        header {
            @extend %flex-display;
            justify-content: $flex-space-between;
            padding: 30px 0;

            @include respond(small) {
                .logo {
                    display: flex;
                    align-items: center;
                }

                .nav-bar {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #6246e4;
                    width: 100vw;
                    height: 100vh;
                    overflow: hidden;
                    color: #ffffff;
                    transform: translateY(-100%);
                    transition: transform 0.7s ease;
                    ul {
                        display: flex;
                        flex-direction: column;
                        padding: 30px 10px;

                        li {
                            padding: 20px 0px;

                            a {
                                font-size: 30px;

                                &:hover {
                                    color: #fcbc14;
                                }
                            }
                        }
                    }

                }

                .showNav {
                    transform: translateY(0);
                }
                

                .mobile-nav {
                    position: absolute;
                    z-index: 1;
                    top: 30px;
                    right: 24px;
                    border: none;
                    cursor: pointer;
                    background-color: none;
                    img {
                        height: 25px;
                    }
                }
            }

            nav {
                
                ul {
                    @extend %flex-display;
                    list-style: none;

                    li {
                        padding: 0 20px;
                        display: inline-block;

                        a {
                            transition: all 0.3s ease 0s;
                            color: $color-white;
                            @include font-size(18px);
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .company-container {
            padding: 70px 0;
            .company-display {
                @extend %flex-display;
                justify-content: $flex-space-between;

                @include respond(small) {
                    flex-direction: column;
                }
    
                .display-text {
                    @include respond(small) {
                        padding: 0 0 2em 0;
                    }
                    .h1 {
                        @include font-size(50px);
                        letter-spacing: -1.12px;

                        @include respond(small) {
                            font-size: 50px;
                        }
                    }
    
                    .padding-text {
                        padding: 20px 0;
                        p {
                            @include font-size(16px);
                            line-height: 25px
                        }
                    }
    
                    .btn {
                        border-radius: 100vh;
                        padding: 12px 30px;
                        border: none;
                        outline: none;
                        transition: all 0.3s ease 0s;
                        font-family: 'Fira Code', monospace;

                        @include respond(small) {
                            width: 100%;
                        }
                    }
                }
    
                .display-image {
                    background-image: url("../images/greendot.svg");
                    background-repeat: no-repeat;
                    background-size: 40px;
                    background-position: left;


                    @include respond(small) {
                        background: none;
                    }
                    
                    img {
                        width: 580px;

                        @include respond(small) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .company-banner {
        background: #f7fafd;
        padding: 30px 0;

        .banner-display {
            @extend %flex-display;
            justify-content: $flex-space-between;
            

            @include respond(small) {
                overflow: hidden;

                figure {
                    margin-left: 15px;
                }
            }
        }
    }

    .offers {
        padding: 7em 0;
        .offer-display {
            @extend %flex-display;
            justify-content: $flex-space-between;

            @include respond(small) {
                flex-direction: column;
            }

            .offer-container {
                border-radius: 30px;
                background: #f7fafd;
                max-width: 260px;
                padding: 25px 20px;

                @include respond(small) {
                    width: 100%;
                    margin: 20px 0;
                }

                .offer-img {
                    text-align: center;
                    padding: 25px 0;
                }

                .details {
                    
                    .h1 {
                        @include font-size(23px);
                        line-height: 40px;
                    }

                    .p {
                        @include font-size(14px);
                        line-height: 20px;
                    }
                }
            }
        }
    }


    .business-model {
        background-image: url("../images/sideimage.svg");
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 3em;

        @include respond(small) {
            background: none;
        }
        .business-model-display {
            display: flex;
            justify-content: $flex-space-between;

            @include respond(small) {
                flex-direction: column;

                .model-img {
                    width: 100%;
                }
            }

            

            .business-model-display-text {
                @include respond(small) {
                    padding-top: 40px;
                }
                .h1 {
                    @include font-size(50px);

                }

                .paragraph {
                    @include font-size(18px);
                    margin: 20px 0;
                }

                .todo-display {
                    display: flex;
                    flex-direction: column;
                    .todo-item {
                        @extend %flex-display;
                        padding: 15px;
                        margin: 10px 0;

                        &:nth-child(2) {
                            border-radius: 30px;
                            background: $color-white;
                            box-shadow: 0px 16px 85px rgba(189,223,246,0.45);
                        }
                        
                        .todo-img {
                            width: 50px;
                            height: 78px;
                            @include background-color-border-radius(#f9f8f8, 29px);
                            margin-right: 30px;

                            .todo-number {
                                @include same-width-height(50px);
                                @include background-color-border-radius(#f4dda0, 29px);
                                @extend %flex-display;
                                justify-content: center;
                                color: $color-white;
                            }

                            .second {
                                @include background-color(#bcd5fc);
                            }

                            .third {
                                @include background-color(#fac2cf);
                            }
                        }
                    }

                }
            }
        }
    }


    //number or achievements style

    .number {
        background-image: url("../images/sideimage.svg"), url("../images/greendot.svg"), url("../images/greydot.svg");
        background-position: left, 800px 10px, 65em 20px;
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-size: contain, 40px, 30px;
        padding: 4em 0;
        margin-top: 8em;

        .company-number-display {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            // align-items: center;

            @include respond(small) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .company-number-text {
                padding: 1em;
                background-image: url("../images/greydot.svg");
                background-repeat: no-repeat;
                background-size: 20px;
                background-position: 500px 100px;
                .h1 {
                    @include font-size(60px);
                }

                .paragraph {
                    padding: 1em 0;
                    @include font-size(18px);
                }

                .number-btn {
                    border-radius: 100vh;
                    padding: 12px 30px;
                    border: none;
                    outline: none;
                    transition: all 0.3s ease 0s;
                    font-family: 'Fira Code', monospace;
                    background: #6246e4;
                    color: $color-white;
                }
            }



            .company-number-num {
                height: 500px;
                background-image: url("../images/orangedot.svg"), url("../images/purpledot.svg"), url("../images/sideimage.svg");
                background-position: 3em 20em, 28em 19em, center;
                background-repeat: no-repeat, no-repeat, no-repeat;
                background-size: 20px, 10px, 500px;

                @include respond(small) {
                    background: none;
                }
                

                .company-numbers {
                    opacity: 0.715053;
                    @extend %flex-display;
                    justify-content: center;
                    text-align: center;
                    color: $color-white;
                    padding: 10px;
                    position: relative;
                    line-height: 45px;

                }

                

                .top {
                    width: 252px;
                    height: 251px;
                    border-radius: 89px;
                    background: #68def0;
                    @include font-size(63px);
                    z-index: 3;
                    top: 0px;
                    left: 250px;

                    @include respond(small) {
                        width: 130px;
                        height: 130px;
                        border-radius: 30px;
                        font-size: 40px;
                        top: 50px;
                        left: 110px;
                    }
                }

                .middle {
                    @include same-width-height(198px);
                    border-radius: 70px;
                    background: #f990b6;
                    @include font-size(45px);
                    z-index: 2;
                    bottom: 250px;
                    left: 50px;
                    

                    @include respond(small) {
                        width: 115px;
                        height: 115px;
                        border-radius: 30px;
                        font-size: 40px;
                        left: 0px;
                        bottom: 80px;
                    }
                    
                    
                }
                .bottom {
                    width: 252px;
                    height: 251.15px;
                    border-radius: 89px;
                    background: #92bbfc;
                    @include font-size(63px);
                    z-index: 1;
                    bottom: 290px;
                    left: 130px;

                    @include respond(small) {
                        width: 100px;
                        height: 100px;
                        border-radius: 30px;
                        font-size: 40px;
                        bottom: 110px;
                        left: 60px;
                    }

                }

                
            }
        }
    }


    //blog style

    .blog {
        padding: 7em 0;
        .blog-header {
            padding: 2em 0;
            .blog-h1 {
                @include font-size(42px);
            }
        }
        .blog-display {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 5.6em;
            align-items: center;

            @include respond(small) {
                display: flex;
                flex-direction: column;
            }

            .blog-card {
                border-radius: 30px;
                border: solid 1px #ececec;

                .blog-image {
                    width: 100%;
                }

                .blog-details {
                    padding: 1em;

                    .blog-date-time {
                        @extend %flex-display;
                        justify-content: $flex-space-between;

                        .date-container, .time-container {
                            @extend %flex-display;
                        }

                        .date-img, .time-img {
                            @include same-width-height(29px);
                            @extend %flex-display;
                            justify-content: center;
                            vertical-align: middle;
                            background: rgba(160,223,244,0.36);
                            border-radius: 100vh;
                            margin-right: 10px;
                        }

                        .blog-date, .blog-time {
                            @include font-size(14px);
                        }
                    }

                    .h1 {
                        @include font-size(18px);
                        line-height: 2.8;

                        @include respond(small) {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                    }

                    .p {
                        @include font-size(14px);
                        line-height: 22px;
                    }
                }
            }
        }
    }









    //comment style

    .comment {
        padding: 6em 0;
        background-image: url("../images/orangedot.svg"), url("../images/purpledot.svg");
        background-repeat: no-repeat, no-repeat;
        background-size: 30px, 20px;
        background-position: 100px 150px, 250px 50px;
        .comment-display {
            @extend %flex-display;

            .comment-logo {
                width: 300px;
                padding: 1em;
                background-image: url("../images/greydot.svg");
                background-repeat: no-repeat;
                background-size: 13px;
                background-position: 185px 80px;

                @include respond(small) {
                    display: none;
                }
                .comment-logo-details {
                    .h1 {
                        @include font-size(32px);
                        line-height: 62px;
                    }

                    .p {
                        @include font-size(14px);
                        width: 90%;
                        line-height: 22px;
                    }

                    
                }
            }

            .comment-slider {
                overflow-x: hidden;
                width: 700px;
                .comment-slider-display {
                    @extend %flex-display;
                    padding: 0 0 0 1em;
                    flex-direction: rows;
                    .comment-card {
                        border-radius: 30px;
                        background: $color-white;
                        box-shadow: 0px 16px 85px rgba(189,223,246,0.45);
                        margin-right: 15px;
                        padding: 1em 1em 3em 1em;
                        min-width: 295px;
                        max-width: 320px;
                        // min-height: 220px;

                        

                        .comment-card-header {
                            display: flex;
                            align-items: center;
                            justify-content: $flex-space-between;
                            .comment-header-display {
                                @extend %flex-display;
                                .comment-profile-image-container {
                                    margin-right: 10px;
                                    .comment-image-container {
                                        @include background-color-border-radius(#fafafa, 50%);
                                        box-sizing: border-box;
                                        display: block;
                                        flex: 0 0 auto;
                                        overflow: hidden;
                                        position: relative;
                                        @include same-width-height(50px);
                                        .comment-img {
                                            margin: 0;
                                            padding: 0;
                                            border: 0;
                                            vertical-align: baseline;
                                            height: auto;
                                            width: 100%;
                                        }
                                    }
                                }

                                .comment-profile-detail {
                                    p {
                                        @include font-size(14px);

                                    }

                                    .comment-center {
                                        padding: 2px 0;
                                    }
                                }
                            }

                            .comment-number {
                                @include same-width-height(40px);
                                @extend %flex-display;
                                justify-content: center;
                                @include background-color-border-radius(rgb(233, 227, 227), 100vh);
                                color: $color-white;
                                @include font-size(14px);
                            }
                        }

                        .comment-details {
                            margin-top: 2em;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            width: 92%;
                            max-width: 95%;
                            padding: 5px;
                            @include font-size(14px);
                            line-height: 22px;

                            
                        }
                    }
                }
            }

            .comment-button {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-gap: 15px;
                margin-left: 5px;

                button {
                    border-radius: 100vh;
                    border: solid 1px #ededed;
                    background: $color-white;
                    padding: 6px;
                    outline: none;
                    cursor: pointer;

                    img {
                        vertical-align: middle;
                    }
                }
            }
        }
    }







    //Email form style

    .mail {
        padding: 12em 0 6em 0;
        .mail-display {
            position: relative;
            @include background-color-border-radius(#fcbc14, 50px);
            display: flex;
            justify-content: $flex-space-between;
            padding: 4em 30px;
            background-image: url("../images/sideimage.svg");
            background-repeat: no-repeat;
            background-size: 200px;
            background-position: right;
            
            .mail-form-container {
                .h1 {
                    color: $color-white;
                    @include font-size(32px);
                    line-height: 80px;

                    @include respond(small) {
                        line-height: 50px;
                    }
                }

                form {
                    @include respond(small) {
                        display: flex;
                        flex-direction: column;
                    }
                    .form-text {
                        @include background-color-border-radius(rgba(255,255,255,0.22), 100vh);
                        padding: 1em 2em;
                        font-family: 'Fira Code', monospace;
                        outline: none;
                        border: 1px solid rgba(255,255,255,0.22);

                        @include respond(small) {
                            width: 100%;
                            margin: 1em 0;
                        }
                    }

                    .form-btn {
                        background: $color-white;
                        border-radius: 100vh;
                        font-family: 'Fira Code', monospace;
                        padding: 1em 2em;
                        outline: none;
                        border: 1px solid $color-white;
                        cursor: pointer;

                        @include respond(small) {
                            width: 100%;;
                        }
                    }
                }
            }

            .mail-box {
                position: absolute;
                right: 40px;
                bottom: 50px;
                background-image: url("../images/orangedot.svg"), url("../images/greydot.svg"), url("../images/purpledot.svg");
                background-repeat: no-repeat, no-repeat;
                background-size: 40px, 15px, 25px;
                background-position: 0px 10px, 20px 100px, 80px 0px;

                @include respond(small) {
                    display: none;
                }
            }
        }
    }





    //footer style 

    .footer {
        @include background-color(#f7fafd);
        padding: 2em 0;
        .footer-display {
            @extend %flex-display;
            justify-content: $flex-space-between;

            @include respond(small) {
                .footer-logo {
                    display: none;
                
                }

                text-align: center;
            }
        }
    }
}